body{
    color: #fff;
}
.choice-container{
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    font-size: 3rem;
    min-width: 80rem;
    background: blue;
}
.choice-container:hover{
    cursor: pointer;
    background-color: rgb(97, 7, 182);
    transform: scale(1.1);
    transition: transform 150ms;
      -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.choice-prefix{
    padding: 2rem 2.5rem;
    color: #fff;
}
.choice-text{
    padding: 2rem;
    width: 100%;
}

.correct{
    background: green;
}
.incorrect{
    background: red;
}

/* heads up display */
#hud{
    display: flex;
    justify-content: space-between;
}
.hud-prefix{
    text-align: center;
    font-size: 2rem;    
}

.hud-main-text{
    text-align: center;
}
#progressBar{
    width: 20rem;
    height: 3rem;   
    border: 0.2rem solid green;
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull{
    height: 100%;
    background: green;
    width: 0%;
}










@media screen and (max-width: 768px) {
    .choice-container{
        min-width: 40rem;
    }
    
}