.container{
    background-color: blue;
    text-align: center;
    padding: 30px;  
}


.timer{
    float: right;
    font-weight: bold;
    border: solid;
    background-color: beige;
}

.intro{

}














.start-button{
  font-weight: bold;
  justify-content: center;
}
#start-button:hover{
    background-color: blueviolet;
}